h1{
    color : red;
}

#first-heading{
    color: green !important;
}

.second-heading{
    color : gray;
    font-size: 20px;
}

/* css variable */
:root {
    --text-color :violet;
}

#first-heading{
    color : var(--text-color);
}

.second-heading{
    color: var(--text-color);
}